head, body{ 
background-color: #272768

}

h1{
text-align: center;
width : 100%;
}

p {text-align: center;}

.floating-img{
    position: fixed;
    top: -10px;
    left: -110px;
    z-index: 999;
}
.footballers-container {
    display: flex;
    justify-content: left;
    gap: 5px;
    flex-wrap: wrap;
}
nav{ 
margin: 0 15px;
text-decoration: none;
text-align: right;
color:#308CC6;
}

h1 {
color:#FFF9FB;
}
p {
color:#FFF9FB;
}
ul {
color:#FFF9FB;
}
.small {
color:#FFF9FB;
font-size: 10px;
text-align: left;
}
.Footballer {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:230px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -25px;
    height:500px;
}
.Footballer2 {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:230px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -29px;
    height:500px;
}
.Footballer3 {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:230px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -29px;
    height:500px;
}
    .Footballer4 {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:230px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -29px;
    height:500px;
}
.Footballer5 {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:232px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -25px;
    height:520px;
}
.Footballer6 {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:232px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -25px;
    height:520px;
}
.Footballer7 {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:232px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -25px;
    height:520px;
}
.Footballer8 {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:232px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -25px;
    height:520px;
}
.foot
a:link {
    color: #308CC6;
}
a:visited {
  color: #308CC6;
}
a:hover {
  color: #FFF9FB;
}
a:active {
  color: #FFF9FB;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}
.box {
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    width:1100px;
    text-align: center;
    gap: 10px;
}
.Early {
   background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;
}
.Richard {
   background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;
}
.Sphere {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;
}
.Tango {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;
}
.Synthetic {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;
}
.Teamgeist {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;
}
.Modern {
   background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;
}
.New {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:195px;;
}
.Premier 
{
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    text-align: center;
}
.LaLiga
 {
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    text-align: center;
}
.SerieA
 {
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    text-align: center;
    }   
.Bundesliga 
{
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    text-align: center;
}
.Play 
{
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:1100px;
    text-align: center;

}
.Now {
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:1100px;
    text-align: center;

}   
.Positions {
     background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:1100px;
    text-align: center;

}
.Equipment {
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:1100px;
    text-align: center;

}
.Rules {
     background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:1100px;
    text-align: center;

}
.WorldCup {
     background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    text-align: center;
}
.WorldCup2026 {
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    text-align: center;
}
.Winners {
    background-color:#26282C;
    border:2px solid black;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    text-align: center;
}
.gk {
margin-left: 430px;
margin-top: -410px;
}
.gk2 {
margin-left: 850px;
margin-top: -410px;
}
.worldcupimage {
margin-left: 00px;
margin-top: -650px;
}   
.worldcupimage2 
{
margin-left: 1130px;
margin-top: -150px;
}
.gallery {
    text-align: center;
    margin: 40px;
}
.gallery h2 {
    color: #FFF9FB;
    margin-bottom: 20px;
    font-size: 2rem;
}
.gallery img {
    width: 250px;
    height: 200px;
    margin: 10px;
    border: 10px solid black;
    object-fit: cover;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}