head, body{ 
background-color: #272768
}

h1{text-align: center;}

p {text-align: center;}

.container{
    position: relative;
}
.floating-img{
    position: fixed;
    top: -10px;
    left: -110px;
    z-index: 999;
}
.footballers-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
nav{ 
text-align: right;
color:#308CC6;
}
h1 {
color:#FFF9FB;
}
p {
color:#FFF9FB;
}
ul {
color:#FFF9FB;
}
.Footballer {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:275px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -25px;
}
.Footballers {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:275px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -29px;
}
.Footballerss {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:275px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -29px;
}
    .Footballersss {
    background-color:#26282C;
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:275px;
    text-align: center;
    gap: 10px;
    position: relative;
    left: -29px;
}
a:link {
    color: #308CC6;
}
a:visited {
  color: #308CC6;
}
a:hover {
  color: #FFF9FB;
}
a:active {
  color: #FFF9FB;
}

.container {
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.box {
    background-color:#26282C;
    border:2px solid black;
    padding:20px;
    width:370px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    left: -29px;
}
.Early {
    background-color:#26282C;
    border:2px solid black;
    padding:20px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Richard {
    background-color:#26282C;
    border:2px solid black;
    padding:20px;
    width:250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Sphere {
    background-color:#26282C;
    border:2px solid black;
    padding:20px;
    width:250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Synthetic {
    background-color:#26282C;
    border:2px solid black;
    padding:20px;
    width:250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Modern {
    background-color:#26282C;
    border:2px solid black;
    padding:20px;
    width:250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



    



        
